@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;     /* Tune this: measure your header height in dev tools */
  }

  body {
    @apply bg-black text-white min-h-screen;
  }
}